<!DOCTYPE html>
<html>

<head>
<link rel="icon" href="/img/weather.png">
<title>About</title>
<link rel="stylesheet" href="./css/style.css">

</head>

<body>

<h2><i>About page</i></h2>
<div class="main-content">
    <img src="/img/robot.png">

</div>
<p>
    {{>footer}}
<a href="/">Go back</a>
</p>
</body>


</html>