<!DOCTYPE html>
<html>

<head>
<link rel="icon" href="/img/weather.png">
<title>404</title>
<link rel="stylesheet" href="./css/style.css">

</head>

<body>

<h2>{{msg}}</h2>
<a href="/">Go back</a>
</body>


</html>